@charset  "UTF-8";

/*

PALETA DE CORES 

VERDE: #49A09D

LILÃS: #5F2C82

*/

* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body, html {
    background-color: #5F2C82;
    height: 100vh;
    width: 100vw;
}

main {
    position: relative;
    height: 100vh;
    width: 100vw;
}

section#login {
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;

    background-color: white;
    width: 200px;
    height: 500px;
    border-radius: 18px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.527);

    transition: width 0.1s, height 0.1s;
    transition-timing-function: ease;
}

section#login > div#imagem {
    background: url(../imagens/montanha.jpg) no-repeat;
    background-size: cover;
    height: 200px;
    display: block;
}

section#login > div#formulario {
    padding: 10px;
    display: block;
}

div#formulario > h1 {
    text-align: center;
    margin-bottom: 10px;
}

div#formulario > p { 
    font-size: 0.8em;
}

form > div.campo {
    background-color: lightgray;
    display: block;
    width: 100%;
    height: 40px;
    border-radius: 5px;
    margin: 5px 0px;
}

div.campo > input {
    font-size: 0.8em;
    width: 70%;
    padding: 2px;
}

form > input[type=submit] {
    display: block;
    font-size: 1em;
    width: 30%;
    height: 40px;
    background-color: #49A09D;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 10px;
}

form > input[type=submit]:hover {
    background-color: #49a09d9d;
}

form > a.botao {
    display: block;
    text-align: center;
    font-size: 1em;
    width: 30%;
    height: 40px;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 5px;
    padding-top: 5px;
    border: 1px solid rgba(173, 216, 230, 0.555);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.582);
    margin: 10px;
}

form > a.botao:hover {
    background-color: rgba(173, 216, 230, 0.637);
}